<h1 class='todo'>To Do</h1>
<% @lists.each do |list| %>
  <div class='listitems'>
    <input  type="checkbox" class="strikethrough" />
    <%= link_to list.name, list_path(list), class: 'listitem' %>
     <br />
  </div>
<% end %>

