/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color:white;
}

a:hover {
  font-weight: bold;
}

.navbar {
  width: 100%;
  height: 30px;
  background-color: grey;
}

.navbar ul {
  margin: -8px 0 0 0;
  padding-top: 4px;
}

.navbar li {
  font-size: 1.2em;
  display: inline;
}

.todo {
  text-decoration: underline;
  margin-bottom: 15px;
}

.listitems {
  font-size: 1.3em;
  margin: 0 0 5px 10px;
}

.edit {
  color: #ffffe6;
}

.delete {
  color: #ffcccc;
}

.back {
  color: #ccffff;
}

.checkbox {
  text-decoration: underline;
}

.strikethrough:checked + .listitem {
    text-decoration:line-through
  }
